@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

body {
  font-family: 'Caveat', cursive;
  background: #0E1C36;
}

.navbar {
  display: flex;
  justify-content: center;
  margin: 0;
  background: #F7FFF7;
  height: 70px;
  box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.6);
}

.navbar__container {
  width: 90vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar__brand {
  font-size: 42px;
  margin: 0;
}

.navbar__buttons-area {
  font-size: 18px;
}

.navbar__button--signup {
  margin-right: 64px;
}