@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

body {
  font-family: 'Caveat', cursive;
  background: #0E1C36;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  background: #F7FFF7;
  height: 70px;
  box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.4);
  z-index: 100;
}

.navbar__container {
  width: 90vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar__brand {
  font-size: 42px;
  margin: 0;
}

.navbar__buttons-area {
  font-size: 18px;
}

.navbar__button--signup {
  margin-right: 64px;
}

.main__container {
  padding-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main__post {
  display: flex;
  border-radius: 2px;
  margin-bottom: 42px;
  height: 180px;
  width: 93vw;
  background: #F7FFF7;
  box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
}

.post__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 62px;
}

.post__header {
  position: relative;
  right: 32px;
  bottom: 2px;
}

.post__when {
  font-size: 14px;
  color: rgb(129, 129, 129);
  position: relative;
  bottom: 6px;
  margin:0;
}

.post__handle {
  margin: 0;
  font-size: 52px;
}

.post__text {
  height: 30%;
  font-size: 20px;
  position: relative;
  bottom: 4px;
  justify-self: flex-start;
  margin: 0;
}

.post__likes {
  margin: 0 0 12px 0;
  position: relative;
  right: 32px
}